<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Об авторе</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="container">
    <h1>Об авторе</h1>
    <div class="table-container">
        <table>
            <tr><th>ФИО</th><td>Агалиева Лала Эльчин кызы</td></tr>
            <tr><th>Группа / ВУЗ</th><td>ИД23-1, Финансовый университет</td></tr>
            <tr><th>Email</th><td>reserod@yandex.ru</td></tr>
            <tr><th>Технологии</th><td>
                Spring Boot, Spring Security, JWT, Thymeleaf, PostgreSQL, JPA, Maven, Git
            </td></tr>
            <tr><th>Период разработки</th><td>20.11.2024 – 10.12.2025</td></tr>
        </table>
    </div>
    <a href="/festivals" class="back-link">← Назад к фестивалям</a>
</div>
</body>
</html>